---
import ProjectCard from "./ProjectCard.astro";
import { projects } from "../../data/projectsData.ts";
---

<section class="projects-container">
  <p>
    <h1 id="Dawn">Proyectos</h1>
    <p class="text">Pequeña selección de trabajos que he realizado</p>
  </p>
  <div class="projects-grid">
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</section>

<div class="mobile-warning">
  <p class="text">Esta página <span id="Dawn">ve mejor en pc</span> . Estoy trabajando en la <span id="Dawn">versión móvil</span>.</p>

  <img style="width: 50%;" class="gif" src="/images/Sorry.gif" alt="Decoartion" />
</div>

<style>
  .projects-container {
    width: 100%;
    padding: 0px 150px;
  }

  .projects-container h1 {
    font-family: "Array-Wide", sans-serif;
    font-size: clamp(1.25rem, 3vw, 4.75rem);
  }

  .projects-container .text {
    font-family: "ABeeZee-Regular", Verdana;
    font-size: clamp(1.25rem, 1vw, 1rem);
  }
  .projects-container p {
    margin-bottom: 2rem;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2.5rem;
  }

  .mobile-warning {
    display: none;
  }
  .mobile-warning .text {
        font-family: "ABeeZee-Regular", Verdana;
  }

  @media (max-width: 769px) {
    .projects-container {
      display: none;
    }
    .mobile-warning {
      display: flex;
      flex-direction: column;
      gap: 50px;

      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;
      font-size: 1.2rem;
      padding: 0px 20px;
    }
    .mobile-warning .gif {
      border-radius: 20px;
      overflow: hidden;
    }
  }
  
</style>
