---
import ProjectCard from "./ProjectCard.astro";
import { projects } from "../../data/projectsData";
---

<section class="container">
  <article class="left-side">
    <div class="title">
      <h1>PROYECTOS</h1>
    </div>
  </article>

  <article class="projects">
    {projects.map((project) => <ProjectCard {...project} />)}
  </article>
</section>

<style>
  .container {
    display: grid;
  }

  .left-side {
    display: none;
  }

  .projects {
    width: 100%;
    padding: 8px;
    display: grid;
    gap: 8px;
  }

  @media (min-width: 768px) {
    .container {
      grid-template-columns: clamp(10vh, 18vh, 28vh) 1fr;
    }

    .left-side {
      display: block;
    }

    .title {
      height: calc(100vh - 40px);
      display: flex;
      align-items: center;
      justify-content: center;
      position: sticky;
      top: 40px;
      overflow: hidden;
    }

    .title h1 {
      color: var(--accent);
      font-family: "Array";
      writing-mode: sideways-lr;
      user-select: none;
      white-space: nowrap;
      font-size: clamp(12vh, 17vh, 90vh);
      line-height: 0.9;
    }

    .projects {
      gap: 12px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1044px) {
    .container {
      grid-template-columns: clamp(10vh, 18vh, 28vh) 3fr;
    }

    .projects {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: min-content;
    }
  }
</style>
