<a href="/art" class="container">
  <img
    src="/images/webp/Draw2.webp"
    class="draw"
    alt="Dibujo decorarivo hecho por Robin"
  />
</a>

<style>
  .container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .draw {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 4px;
    filter: brightness(90%) blur(0.3px);
  }

  :global(.dark) .draw {
    filter: brightness(80%);
  }
</style>
