---
import Avatar from "./Avatar.astro";
import Information from "./Info.astro";
import Actions from "./Actions.astro";

/**
 * Props:
 * - aviability : boolean
 */

const { aviability = true } = Astro.props;
---

<div class="hero">
  <div class="image-wrapper">
    <img src="/images/webp/Draw1.webp" alt="Imagen hero" class="image-hero" />
  </div>

  <div class="hero-container">
    <Avatar aviability={aviability} />
    <Information />
    <Actions />
  </div>
</div>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 8px;
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    height: 128px;
  }

  .image-hero {
    border-radius: 4px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .hero-container {
    gap: 8px;
    display: flex;
    margin-top: -76px;
    flex-direction: column;
  }
</style>
