---
import FileUser from "../../../../assets/images/svgs/File-User.svg";
import Link from "../../../../assets/images/svgs/Link.svg";
---

<div class="actions-container">
  <div class="curiosities">
    <div class="card-curiosities">
      <span class="value" id="Dawn-color">+2</span>
      <p class="desc muted center">Años de Experiencia</p>
    </div>
    <div class="card-curiosities">
      <span class="value" id="Dawn-color">100%</span>
      <p class="desc muted center">Aprendizaje Autodidacta</p>
    </div>
    <div class="card-curiosities">
      <span class="value" id="Dawn-color">∞</span>
      <p class="desc muted center">Aprendizaje Continuo</p>
    </div>
  </div>
  <div class="buttons">
    <a
      href="https://drive.google.com/file/d/1XQc81GCuWrfUIEoJ21Z6k6Tj_adBwCCp/view?usp=sharing"
      class="button-primary"
      target="_blank"
    >
      <FileUser class="circle-user" /><span> CV</span>
    </a>
    <a
      href="https://github.com/Robin1238"
      class="button-secondary disabled"
      target="_blank"
    >
      <Link class="circle-user" /><span>Sobre Mí</span>
    </a>
  </div>
</div>

<style>
  .actions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .curiosities {
    padding: 8px 0px;
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: space-between;
  }

  a.disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
  }

  .card-curiosities {
    padding: 4px;
    line-height: 1;
    display: flex;

    text-wrap: balance;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-radius: 8px;

    text-wrap: balance;
    background-color: var(--color-surface-2);
    box-shadow: var(--shadow-2);
    border: 1px solid var(--color-surface);
  }

  :root[data-theme="dark"] .card-curiosities {
    border: 1px solid var(--divisor);
  }

  .value {
    font-size: var(--font-size-1);
    font-weight: 800;
    line-height: 1;
  }

  .desc {
    font-size: var(--font-size-0);
    max-width: 120px;
    line-height: 1;
  }

  .buttons {
    display: flex;
    width: 100%;
    gap: 8px;
  }

  .circle-user {
    width: 16px;
    height: 16px;
  }

  @media (min-width: 360px) {
    .value {
      font-size: var(--font-size-2);
    }

    .desc {
      font-size: var(--font-size-1);
    }
  }
</style>
