.green-svg{
  top: 150px; 
  right: 25px; 

}
.svg-deco{
  position: absolute; 
  z-index: 10
}

.red-svg{
  top: 745px; 
  left: 25px; 
}

.blue-svg{
  bottom: 25px; 
  right: 25px; 
}

.gif-deco{
  position: absolute;
  z-index: 11;
}

.gif-green {
  width: 194px;
  right: 79px;
  top: 458px;

}

.gif-red {
  width: 105px;
  height: 112px;
  left: 69px;
  top: 940px;
}

.gif-blue {
  width: 126px;
  height: 124px;
  right: 165px;
  bottom: 195px;
  z-index: 9;
}
