<a
  href="../../public/Robin Andres Arrechea Triviño.pdf"
  download="Robin Andres Arrechea Triviño.pdf"
  class="text-green hover:text-white border-4 border-green hover:bg-green-ligthOp20 hover:scale-105 rounded-lg px-5 py-1 text-center my-6 transition"
  ><slot />
</a>
