<a
  href="../../public/Robin-Andres-CV.pdf"
  download="Robin Andres Arrechea Triviño.pdf"
  class="text-green border-green border-4 sm:p-2 xs:text-base rounded-lg px-5 py-1 hover:text-white hover:bg-green-ligthOp20 hover:scale-105 transition"
  ><slot />
</a>
