---
import { LinkedinIcon, GitHubIcon } from "../components";
---

<header
  class="flex flex-wrap items-center justify-between max-w-[820px] p-4 mx-auto sm:min-w-[340px] bg-red-purple"
>
  <a
    href="https://github.com/Robin1238"
    target="_blank"
    class="flex items-center space-x-3"
  >
    <img src="../../public/Icono.svg" class="h-8" alt="Robin Logo" />
    <span class="text-3xl font-semibold">Robbin1238</span>
  </a>
</header>
