---
import { LinkedinIcon, GitHubIcon } from "../components";
---

<header
  class="flex justify-between p-12 py-3 items-center w-[820px] mx-auto bg-white-lightOp10"
>
  <h2 class="tittle text-2xl">Robbin1238</h2>

  <nav class="flex flex-row gap-5">
    <a href="https://www.linkedin.com/in/robbin1238" target="_blank">
      <LinkedinIcon class="size-7 hover:scale-105 transition" />
    </a>

    <a href="https://github.com/Robin1238" target="_blank">
      <GitHubIcon class="size-7 hover:scale-105 transition" />
      <a href="###">Menu</a>
    </a>
  </nav>
</header>
