---
import { LinkedinIcon, GitHubIcon } from "../components";
---

<header
  class="flex flex-wrap items-center justify-between max-w-[820px] p-4 mx-auto sm:min-w-[340px]"
>
  <a
    href="https://github.com/Robin1238"
    target="_blank"
    class="flex items-center space-x-3"
  >
    <img src="../../public/Icono.svg" class="h-8" alt="Robin Logo" />
    <span class="text-3xl font-semibold font-poppins">Robbin1238</span>
  </a>

  <nav class="flex flex-row gap-5">
    <a href="https://www.linkedin.com/in/robbin1238" target="_blank">
      <LinkedinIcon class="size-7 hover:scale-105 transition" />
    </a>

    <a href="https://github.com/Robin1238" target="_blank">
      <GitHubIcon class="size-7 hover:scale-105 transition" />
    </a>
  </nav>
</header>
