---
import ThemeToggle from "./ThemeToggle.astro";
import Linkedin from "../assets/images/svgs/Linkedin.svg";
import GitHub from "../assets/images/svgs/GitHub.svg";

/**
 * Props:
 * - size: string
 */

const { size = "1.5rem" } = Astro.props;
---

<nav style={`--icon-size: ${size}`}>
  <a href="/"><span class="logo-robin">RA</span> </a>

  <div class="container">
    <a href="https://github.com/Robin1238" target="_blank" aria-label="GitHub">
      <GitHub class="logo logo-github" />
    </a>
    <a
      href="https://www.linkedin.com/in/robbin1238/"
      target="_blank"
      aria-label="Linkedin"
    >
      <Linkedin class="logo logo-linkedin" />
    </a>

    <ThemeToggle size={size} />
  </div>
</nav>

<style>
  nav {
    z-index: 10;
    width: 100%;
    height: var(--icon-size);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    background-color: var(--bg-second-surface);
  }

  .container {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .container a,
  .container button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .logo-robin {
    font-family: "ABeeZee", verdana;
    font-weight: 900;
  }

  .logo {
    width: var(--icon-size);
    height: var(--icon-size);

    display: block;
  }
</style>
