---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav>
  <a href="/">
    <img
      class="logo logo-arrow"
      src="/images/logos/arrow-left/arrow-left-white.png"
      alt="Go back"
      title="Go main"
    />
  </a>

  <div class="container">
    <a href="https://github.com/Robin1238" target="_blank">
      <img
        class="logo logo-github"
        src="/images/logos/github/github-black.png"
        alt="GitHub"
        title="GitHub Robbin1238"
      />
    </a>
    <a href="https://www.linkedin.com/in/robbin1238/" target="_blank">
      <img
        class="logo logo-linkedin"
        src="/images/logos/linkedin/Linkedin-black.png"
        alt="LinkedIn"
        title="Linkedin Robin Andres"
      />
    </a>
    <div class="toggle">
      <ThemeToggle />
    </div>
  </div>
</nav>

<style>
  nav {
    width: 100%;
    height: 40px;
    background-color: var(--bg-second-surface);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: sticky;
    top: 0;
    box-sizing: border-box;
  }

  nav p {
    font-family: "Array", sans-serif;
    font-size: clamp(1.1rem, 1vw, 1.2rem);
    margin: 0;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo {
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: transform 0.2s ease;
    cursor: pointer;
  }

  .logo-github {
    content: url("images/logos/github/github-black.png");
  }

  .logo-arrow {
    content: url("images/logos/arrow-left/arrow-left-black.png");
  }

  .logo-linkedin {
    content: url("images/logos/linkedin/Linkedin-black.png");
  }

  :global(.dark) .logo-github {
    content: url("images/logos/github/github-white.png");
  }
  :global(.dark) .logo-arrow {
    content: url("images/logos/arrow-left/arrow-left-white.png");
  }

  :global(.dark) .logo-linkedin {
    content: url("images/logos/linkedin/Linkedin-white.png");
  }
</style>
