---
const { class: className } = Astro.props;
---

<a
  class={` ${className} size-[80px] bg-black-lightOp90 flex items-center justify-center rounded `}
  {...Astro.props}
  target="_blank"
>
  <slot />
</a>
