---
import Sun from "../assets/images/svgs/Sun.svg";
import Moon from "../assets/images/svgs/Moon.svg";

/**
 * Props:
 * - size: string
 */

const { size = "1.5rem" } = Astro.props;
---

<button
  id="themeToggle"
  aria-label="Toggle theme"
  title="Toggle theme"
  aria-pressed="false"
  style={`--icon-size: ${size}`}
>
  <Sun class="sun" />
  <Moon class="moon" />
</button>

<style>
  #themeToggle {
    width: var(--icon-size);
    height: var(--icon-size);
    position: relative;
    border: 0;
    background: none;
    display: grid;
    place-items: center;
    cursor: pointer;
  }

  #themeToggle :is(.sun, .moon) {
    position: absolute;
    width: var(--icon-size, 1.25rem);
    height: var(--icon-size, 1.25rem);
  }

  #themeToggle:hover :is(.sun, .moon) {
    transform: rotate(-15deg);
  }
  .sun {
    opacity: 0;
    transform: scale(0.6);
    color: #fef7ff;
    fill: #fef7ff;
    transition: 0.25s all;
  }

  .moon {
    opacity: 1;
    transform: scale(1);
    color: #101316;
    fill: #101316;
    transition: 0.25s all;
  }

  :root[data-theme="dark"] .sun {
    opacity: 1;
    transform: scale(1);
  }

  :root[data-theme="dark"] .moon {
    opacity: 0;
    transform: scale(0.6);
  }
</style>

<script is:inline>
  const html = document.documentElement;
  const button = document.getElementById("themeToggle");

  const getCurrentTheme = () =>
    html.dataset.theme ??
    (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");

  const setAriaState = () => {
    button.setAttribute("aria-pressed", getCurrentTheme() === "dark");
  };

  const toggleTheme = () => {
    const nextTheme = getCurrentTheme() === "dark" ? "light" : "dark";
    html.dataset.theme = nextTheme;
    localStorage.setItem("theme", nextTheme);
    setAriaState();
  };

  const handleToggle = () => {
    if (!document.startViewTransition) {
      toggleTheme();
    } else {
      document.startViewTransition(toggleTheme);
    }
  };

  setAriaState();
  button?.addEventListener("click", handleToggle);
</script>
