---
import About from "./elements/about/About.astro";
import Carrousel from "./elements/Carrousel.astro";
import Gif from "./elements/Gif.astro";
import Phrases from "./elements/Phrases.astro";
import DrawMini from "./elements/DrawMini.astro";
import Skills from "./elements/skills/Skills.astro";
---

<main class="bento">
  <section class="card item-about"><About aviability={true} /></section>
  <section class="card item-carrousel"><Carrousel /></section>
  <section class="card item-phrases"><Phrases /></section>
  <section class="card item-gif"><Gif /></section>
  <section class="card item-mini-draw"><DrawMini /></section>
  <section class="card item-skills"><Skills /></section>
  <section class="card item-projects">Working on</section>
</main>

<style>
  .bento {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 8px;
  }
  .card {
    min-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-4);
    border: 1px solid var(--color-surface);
  }

  .item-gif {
    display: none;
  }

  .item-mini-draw {
    display: none;
  }

  .item-projects {
    display: grid;
    place-content: center;
  }

  :root[data-theme="dark"] .card {
    border: 1px solid var(--divisor);
  }

  @media (min-width: 768px) {
    .bento {
      display: grid;
      gap: 0.5rem;
      margin: 8px 64px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(20, minmax(0, 1fr));
    }
    .item-about {
      grid-column: 1 / 5;
      grid-row: span 4;
    }
    .item-carrousel {
      grid-column: 1 / 5;
      grid-row-start: 5;
    }

    .item-phrases {
      grid-column-start: 1;
      grid-column: span 3;
    }

    .item-gif {
      display: block;
      grid-column-start: 4;
      grid-row: span 3;
    }

    .item-mini-draw {
      display: none;
    }
    .item-skills {
      grid-column-start: 1;
      grid-column: span 3;
      grid-row: span 2;
    }
  }
  @media (min-width: 1024px) {
    .bento {
      display: grid;
      margin: 12px 128px;
      gap: 1rem;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(9, minmax(0, 1fr));
    }
    .item-about {
      grid-column: 1 / span 5;
      grid-row: span 6;
    }
    .item-carrousel {
      grid-row-start: 5;
      grid-column-start: 6;
      grid-column: 6 / 10;
    }
    .item-phrases {
      grid-column-start: 7;
      grid-column: span 4;
    }
    .item-gif {
      grid-column: span 4;
      grid-row: span 3;
    }

    .item-mini-draw {
      display: block;
      grid-column-start: 1;
      grid-row-start: 7;
      grid-column: 1 / 2;
      grid-row: span 3;
    }

    .item-skills {
      grid-column-start: 1;
      grid-column: span 4;
      grid-row: span 3;
    }

    .item-projects {
      grid-row-start: 6;
      grid-column-start: 6;
      grid-column: 6/10;
      grid-row: 6/10;
    }
  }
</style>
