<div class="container">
  <a href="/art">
    <img class="draw" src="/images/Draw2.png" alt="Decoartion" />
  </a>
</div>

<style>
  .container {
    pointer-events: none; /* DELETE THIS */
    cursor: pointer;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    border: 3px solid var(--divisor);
    padding: 3px;
  }

  .container a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .draw {
    filter: blur(1 px);
    filter: brightness(90%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
  }

  :global(.dark) .draw {
    filter: brightness(80%);
  }
</style>
